#header-container {
background-color: rgba(3, 6, 65, 0.829);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: white;
padding: 2px;
top: 0;
width: 100%;
text-align: center;
border-bottom: 4mm ridge rgba(20, 100, 237, 0.9);
text-shadow: 1px 1px 10px rgb(74, 180, 246), 0 0 3em blue, 0 0 0.3em blue;
}

h1 {
margin-bottom: 50px;
}